<div class="container-fluid">
  <div class="row">
    <div id="cssMagic" name="cssMagic" class="col-xs-10 col-xs-offset-1">
      <!-- <p id="typedText">Test Text!</p> Removed until ready to be implemented-->
      <div id="sourceCover"></div>
      <img src="images/thisSource.png">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div id="aboutMe" name="aboutMe" class="col-xs-10 col-xs-offset-1">
      <h1>About Me</h1>

      <img src="images/Headshot.png" alt="">

      <h4>I am a Full-Stack Developer</h4>
      <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Veniam quisquam voluptates sapiente quasi?</li>
        <li>Ipsa commodi, eos optio minima?</li>
        <li>Aliquam enim, odit suscipit magni.</li>
        <li>Quos praesentium repellat aperiam ipsam!</li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div id="projects" name="projects" class="col-xs-10 col-xs-offset-1" ng-app="projApp">
      <h1>Projects</h1>
      <div class="row">
        <div class="project col-xs-12 col-md-4" ng-repeat="(key, value) in projects track by $index">
          <div class="proj-container">
            <a href="{{value.deployed}}" target="_blank">
              <div class="proj-splash" style="background-image: url('images/{{value.image}}')">
                <img src="images/1920_1080_spacer.png">
              </div>
            </a>
            <h1>{{key}}</h1>
            <a ng-hide="{{value.privateSource}}" href="{{value.source}}" target="_blank"><i class="fa fa-github"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div id="contact" name="contact" class="col-xs-10 col-xs-offset-1">
      <h1>Contact</h1>
      <ul>
        <li>Email: <a href="mailto:zackwinchell@gmail.com?Subject=From%20your%20site">zackwinchell@gmail.com</a></li>
        <li>Phone: +1 415 827 8033</li>
      </ul>
    </div>
  </div>
</div>
