$link-text-color: white
$nav-back-color: rgba(0, 0, 0, 0.65)
$link-text-hover: rgb(220, 220, 220)

*
  font-family: 'Coda', cursive

body
  background-color: black
  background-image: url("/images/water.jpeg")
  background-size: cover
  padding-top: 45px
  text-align: center

#cssMagic
  text-align: center
  padding: 0px 0px 0px 0px
  img
    width: 100%

#aboutMe
  padding: 16px 48px 16px 48px
  background-color: #00f
  text-align: center
  color: black
  background-color: rgba(180, 180, 180, 0.7)
  img
    margin-top: 16px
    margin-bottom: 16px
    border: 3px solid black
    border-radius: 50%

#projects
  padding: 16px
  background-color: rgba(180, 180, 180, 0.85)
  color: black
  text-align: center
  display: inline-block
  .project
    padding: 8px
    text-align: center
    .proj-container
      border: 6px solid black
      border-radius: 12px
      padding: 4px
      .proj-splash
        border: 1px solid black
        background-size: 100% 100%
        border-radius: 12px
    &:first-child
      .proj-splash
        background-image: url("/images/blackjackPlayerWin.png")
        &:hover
          background-image: url("/images/blackjackNewGame.png")
    img
      max-width: 100%
      max-height: 100%
    a
      i
        position: absolute
        bottom: 16px
        right: 18px
        font-size: 20px
        color: black
        &:hover
          color: $link-text-hover

#contact
  text-align: center
  padding: 16px
  background-color: rgba(180, 180, 180, 0.7)
  color: black
  ul
    li
      list-style: none
      display: inline-block
      padding: 0px 4px 0px 4px

#links
  padding: 12px
  background-color: rgba(180, 180, 180, 0.85)
  text-align: center
  font-size: 24px
  ul
    margin-bottom: 0px
    li
      display: inline-block
      margin-right: 8px
      &:last-child
        margin-right: 0px
      a
        color: black
        &:hover
          color: $link-text-hover
          text-decoration: none

#navbar
  background-color: $nav-back-color
  width: 100%
  position: fixed
  top: 0px
  text-align: center
  ul
    font-size: 0px
    margin-bottom: 0px
    li
      display: inline-block
      border-right: 1px solid $link-text-color
      &:hover
        background-color: #000
      &:last-child
        border-right: none

      a
        color: $link-text-color
        display: block
        padding: 10px
        font-size: 18px
        &:hover, &:focus, &:active
          color: $link-text-hover
          cursor: pointer
          text-decoration: none
